body{
    background-color: black;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1{
    color: rgb(13, 9, 238);
}

button{
    background-color: rgb(0, 13, 128);
    color: white;
    border: none;
    padding: 10px 20px;
}



p{
    font-size: 18px;
    color: white;
}

hr{
    width: 60%;
    margin: 30px auto;
}
.about,
.skills,
.projects,
.contact {
    width: 80%;
    margin: auto;

}


.navbar{
    text-align: right;
    padding: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
}
.skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.skill-box{
    background-color: white;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
    font-weight: bold;
    transition: 0.3s;
}

.skill-box:hover{
    transform: scale(1.1);
    background-color: rgb(0, 13, 128);
    color: lightskyblue;
}

  h2 {
    color: #6c63ff;
    text-align: left;
    margin-top: 40px;
}
.name {
    color: #6c63ff;
    text-align: center;
}
.projects h2,
.contact h2,
.skills h2,
.about h2{
    margin-left: 0;
}